In [1]:
import pandas as pd

# Read the .parquet file
train_df = pd.read_parquet('./train.parquet/partition_id=0/part-0.parquet')
test_df = pd.read_parquet('./test.parquet/date_id=0/part-0.parquet')
lags_df = pd.read_parquet('./lags.parquet/date_id=0/part-0.parquet')

In [2]:
display(train_df.head())
display(test_df.head())
display(lags_df.head())

,date_id,time_id,symbol_id,weight,feature_00,feature_01,feature_02,feature_03,feature_04,feature_05,...,feature_78,responder_0,responder_1,responder_2,responder_3,responder_4,responder_5,responder_6,responder_7,responder_8
0,0,0,1,3.889038,NaN,NaN,NaN,NaN,NaN,0.851033,...,-0.281498,0.738489,-0.069556,1.380875,2.005353,0.186018,1.218368,0.775981,0.346999,0.095504
1,0,0,7,1.370613,NaN,NaN,NaN,NaN,NaN,0.676961,...,-0.302441,2.965889,1.190077,-0.523998,3.849921,2.626981,5.000000,0.703665,0.216683,0.778639
2,0,0,9,2.285698,NaN,NaN,NaN,NaN,NaN,1.056285,...,-0.096792,-0.864488,-0.280303,-0.326697,0.375781,1.271291,0.099793,2.109352,0.670881,0.772828
3,0,0,10,0.690606,NaN,NaN,NaN,NaN,NaN,1.139366,...,-0.296244,0.408499,0.223992,2.294888,1.097444,1.225872,1.225376,1.114137,0.775199,-1.379516
4,0,0,14,0.440570,NaN,NaN,NaN,NaN,NaN,0.955200,...,3.418133,-0.373387,-0.502764,-0.348021,-3.928148,-1.591366,-5.000000,-3.572820,-1.089123,-5.000000

,row_id,date_id,time_id,symbol_id,weight,is_scored,feature_00,feature_01,feature_02,feature_03,...,feature_69,feature_70,feature_71,feature_72,feature_73,feature_74,feature_75,feature_76,feature_77,feature_78
0,0,0,0,0,3.169998,True,0.0,0.0,0.0,0.0,...,-0.0,-0.0,0.0,0.0,NaN,NaN,0.0,0.0,-0.0,-0.0
1,1,0,0,1,2.165993,True,0.0,-0.0,0.0,0.0,...,-0.0,-0.0,0.0,-0.0,NaN,NaN,0.0,0.0,0.0,0.0
2,2,0,0,2,3.065550,True,0.0,-0.0,0.0,0.0,...,0.0,-0.0,0.0,0.0,NaN,NaN,0.0,0.0,-0.0,-0.0
3,3,0,0,3,2.698642,True,0.0,0.0,0.0,0.0,...,0.0,-0.0,0.0,0.0,NaN,NaN,0.0,0.0,-0.0,-0.0
4,4,0,0,4,1.803330,True,0.0,-0.0,0.0,0.0,...,-0.0,-0.0,0.0,-0.0,NaN,NaN,0.0,0.0,0.0,0.0

,date_id,time_id,symbol_id,responder_0_lag_1,responder_1_lag_1,responder_2_lag_1,responder_3_lag_1,responder_4_lag_1,responder_5_lag_1,responder_6_lag_1,responder_7_lag_1,responder_8_lag_1
0,0,0,0,-0.442215,-0.322407,0.143594,-0.926890,-0.782236,-0.036595,-1.305746,-0.795677,-0.143724
1,0,0,1,-0.651829,-1.707840,-0.893942,-1.065488,-1.871338,-0.615652,-1.162801,-1.205924,-1.245934
2,0,0,2,-0.656373,-0.264575,-0.892879,-1.511886,-1.033480,-0.378265,-1.574290,-1.863071,-0.027343
3,0,0,3,-0.188186,-0.190970,-0.701490,0.098453,-1.015506,-0.054984,0.329152,-0.965471,0.576635
4,0,0,4,-0.257462,-0.471325,-0.297420,0.074018,-0.324194,-0.597093,0.219856,-0.276356,-0.904790

In [4]:
all_train_df = pd.read_parquet('./training_dataset.parquet')

display(all_train_df)

,date_id,time_id,symbol_id,weight,feature_00,feature_01,feature_02,feature_03,feature_04,feature_05,...,feature_78,responder_0,responder_1,responder_2,responder_3,responder_4,responder_5,responder_6,responder_7,responder_8
0,0,0,1,3.889038,NaN,NaN,NaN,NaN,NaN,0.851033,...,-0.281498,0.738489,-0.069556,1.380875,2.005353,0.186018,1.218368,0.775981,0.346999,0.095504
1,0,0,7,1.370613,NaN,NaN,NaN,NaN,NaN,0.676961,...,-0.302441,2.965889,1.190077,-0.523998,3.849921,2.626981,5.000000,0.703665,0.216683,0.778639
2,0,0,9,2.285698,NaN,NaN,NaN,NaN,NaN,1.056285,...,-0.096792,-0.864488,-0.280303,-0.326697,0.375781,1.271291,0.099793,2.109352,0.670881,0.772828
3,0,0,10,0.690606,NaN,NaN,NaN,NaN,NaN,1.139366,...,-0.296244,0.408499,0.223992,2.294888,1.097444,1.225872,1.225376,1.114137,0.775199,-1.379516
4,0,0,14,0.440570,NaN,NaN,NaN,NaN,NaN,0.955200,...,3.418133,-0.373387,-0.502764,-0.348021,-3.928148,-1.591366,-5.000000,-3.572820,-1.089123,-5.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6274571,1698,967,34,3.242493,2.525160,-0.721981,2.544025,2.477615,0.417557,0.785812,...,0.016936,0.243475,0.166927,0.384940,-0.174297,-0.066046,-0.038767,-0.132337,-0.022426,-0.252461
6274572,1698,967,35,1.079139,1.857906,-0.790646,2.745439,2.339877,0.845065,0.651370,...,0.050860,0.850152,0.909382,1.015314,0.235962,0.122539,0.099559,-0.249584,-0.123571,-0.460630
6274573,1698,967,36,1.033172,2.515527,-0.672298,2.289250,2.521592,0.255077,0.919892,...,0.152333,0.395684,-0.292574,-3.215846,-0.535129,-0.178484,-1.808150,-0.065355,-0.000367,-0.125170
6274574,1698,967,37,1.243116,2.663298,-0.889112,2.313155,3.101428,0.324454,0.618944,...,-0.029483,1.925987,0.479394,3.621867,-0.107114,-0.063599,1.204755,-0.148711,-0.026583,-0.256395
6274575,1698,967,38,3.193685,2.728506,-0.745238,2.788789,2.343393,0.454731,0.862839,...,-0.247774,1.228778,0.512562,-0.050865,0.160883,0.080756,-0.078237,-0.138548,-0.038771,-0.211940

In [3]:
# count how may NaN in feature_00
print(len(train_df['feature_00']))
print(train_df['feature_00'].isna().sum())

1944210
1944210

In [5]:
all_train_df.describe()

,date_id,time_id,symbol_id,weight,feature_00,feature_01,feature_02,feature_03,feature_04,feature_05,...,feature_78,responder_0,responder_1,responder_2,responder_3,responder_4,responder_5,responder_6,responder_7,responder_8
count,4.712734e+07,4.712734e+07,4.712734e+07,4.712734e+07,4.394529e+07,4.394529e+07,4.394529e+07,4.394529e+07,4.394529e+07,4.712734e+07,...,4.710730e+07,4.712734e+07,4.712734e+07,4.712734e+07,4.712734e+07,4.712734e+07,4.712734e+07,4.712734e+07,4.712734e+07,4.712734e+07
mean,1.005479e+03,4.687057e+02,1.810239e+01,2.009441e+00,5.738325e-01,1.019200e-02,5.731021e-01,5.727453e-01,-8.522313e-04,-3.837985e-02,...,-1.255890e-02,-1.545146e-03,-8.655997e-04,-1.419603e-04,-1.638009e-02,-1.244198e-02,-1.662422e-02,-2.140646e-03,1.476110e-03,-1.113618e-03
std,4.451819e+02,2.725187e+02,1.130165e+01,1.129388e+00,1.327413e+00,1.084941e+00,1.322870e+00,1.322849e+00,1.037188e+00,1.020120e+00,...,9.435918e-01,5.912108e-01,5.875515e-01,5.991787e-01,8.192309e-01,8.728399e-01,7.345458e-01,8.898516e-01,9.160423e-01,8.644118e-01
min,0.000000e+00,0.000000e+00,0.000000e+00,1.499667e-01,-5.794129e+00,-5.741592e+00,-5.726010e+00,-5.601890e+00,-5.799880e+00,-2.535040e+01,...,-6.159515e+00,-5.000000e+00,-5.000000e+00,-5.000000e+00,-5.000000e+00,-5.000000e+00,-5.000000e+00,-5.000000e+00,-5.000000e+00,-5.000000e+00
25%,6.790000e+02,2.330000e+02,9.000000e+00,1.210248e+00,-3.325972e-01,-7.210978e-01,-3.298276e-01,-3.304725e-01,-7.067508e-01,-4.875799e-01,...,-3.039029e-01,-1.902501e-01,-1.637682e-01,-1.998778e-01,-3.100654e-01,-3.836545e-01,-2.254138e-01,-3.827613e-01,-4.197189e-01,-3.342880e-01
50%,1.060000e+03,4.670000e+02,1.700000e+01,1.749686e+00,4.057831e-01,7.341659e-03,4.070410e-01,4.063981e-01,2.275866e-03,-5.649172e-02,...,-1.948923e-01,-4.543308e-03,-2.383126e-02,-8.624472e-04,-2.575430e-02,-4.468977e-02,-9.661748e-03,-2.556645e-02,-3.917187e-02,-8.617128e-03
75%,1.376000e+03,7.010000e+02,2.800000e+01,2.525645e+00,1.261608e+00,7.293766e-01,1.258622e+00,1.258682e+00,7.037091e-01,3.906223e-01,...,4.861682e-02,1.819475e-01,1.273834e-01,1.990622e-01,2.611124e-01,3.132633e-01,2.005779e-01,3.343208e-01,3.553231e-01,3.112021e-01
max,1.698000e+03,9.670000e+02,3.800000e+01,1.024042e+01,6.477002e+00,6.292391e+00,6.490265e+00,6.695623e+00,6.164160e+00,3.572622e+01,...,2.574540e+02,5.000000e+00,5.000000e+00,5.000000e+00,5.000000e+00,5.000000e+00,5.000000e+00,5.000000e+00,5.000000e+00,5.000000e+00